@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Item>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="height:100%">
                <div class="row g-0" style="height:100%">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h7 class="card-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block">
                                    <a style="color: inherit;text-decoration: inherit;" asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                                        @item.Name
                                    </a>

                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h7>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6" style="display: flex; justify-content: center; align-items: center;">
                        <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                            <img class="mr-2 ml-4 pt-5 pb-5" style="max-width: 75%; max-height: 300px;" src="@item.ImageUrl" alt="@item.Name">
                        </a>
                    </div>
                    <div class="col-md-6 height-text">
                        <div class="card-body">
                            <p class="card-text" style="white-space: pre-wrap;">@item.ShortDescription</p>
                            <p class="card-text"><b>Name: </b>@item.Name</p>
                            <p class="card-text text-nowrap"><b>Price: </b>@item.Price €</p>
                            <p class="card-text"><b>Category: </b>@item.ItemCategory</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer" style="height: 100%; display: flex; justify-content: space-between; align-items: center;">
                            <a class="btn btn-outline-primary float-right m-2" asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                                <i class="bi bi-eye-fill"></i>
                                Show Details
                            </a>
                            <a class="btn btn-success text-white m-2" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id">
                                <i class="bi bi-cart-plus"></i>
                                Add to Cart (@item.Price €)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <br />
    <div class="text-center w-100">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        <br />
        @Html.PagedListPager(Model, page => Url.Action("Index", "Items", new { page, currentFilter = ViewBag.CurrentFilter }))
    </div>

</div>