@model IEnumerable<Order>

@{
    ViewData["Title"] = "Orders";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <p>
            <h3 class="pb-1"> @ViewData["Description"] </h3>
        </p>

        <form class="form-inline my-2 my-lg-0" asp-controller="Orders" asp-action="Filter" style="padding-right: 10px;">
            <input name="searchString" type="text" class="form-control" placeholder="Search for an order...">
            <button class="btn btn-outline-info my-2 my-sm-0 ml-2" type="submit"><i class="bi bi-search"></i></button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Items</th>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <a asp-controller="Orders" asp-action="GetById" asp-route-id="@order.Id">
                                @order.Id
                            </a>
                        </td>
                        <td class="align-middle">
                            @foreach (var item in order.OrderItems)
                            {
                                <div class="alert alert-info" role="alert">
                                    <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                                        <span class="badge bg-success">@item.Amount</span>[@item.Price.ToString("c")] - @item.Item.Name
                                    </a>
                                </div>
                            }
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Select(m => m.Item.Price * m.Amount).Sum().ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle">
                                @if (order.User != null)
                                {
                                    <a asp-controller="Account" asp-action="GetUserInfo" asp-all-route-data="@(new Dictionary<string, string> {{"userId", order.UserId}})">
                                        @(order.FullName)
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="Account" asp-action="GetUnregisteredUserInfo" asp-all-route-data="@(new Dictionary<string, string> {{"orderId", order.Id.ToString()}})">
                                        @(order.FullName)
                                    </a>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>