@model List<Order>

@{
    ViewData["Title"] = "Orders";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <p>
            <h4>Orders</h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Items</th>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <a asp-controller="Orders" asp-action="GetById" asp-route-id="@order.Id">
                                @order.Id
                            </a>
                        </td>
                        <td class="align-middle">
                            @foreach (var item in order.OrderItems)
                            {
                                <div class="alert alert-info" role="alert">
                                    <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                                        <span class="badge bg-success">@item.Amount</span>[@item.Price.ToString("c")] - @item.Item.Name
                                    </a>
                                </div>
                            }
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Select(m => m.Item.Price * m.Amount).Sum().ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle"> 
                                <a asp-controller="Account" asp-action="GetUserInfo" asp-all-route-data="@(new Dictionary<string, string> { {"userId", order.UserId} })">
                                    @order.User.FullName
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>