@using SpletnaTrgovinaDiploma.Data.ViewModels
@model ShippingAndPaymentViewModel

<div class="row">
    <div>
        <form asp-action="ShippingAndPayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(v => v.ShoppingCart)
            @Html.HiddenFor(v => v.ShoppingCartTotal)
            @Html.HiddenFor(v => v.ShoppingCartTotalWithoutVat)

            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2>Shipping and payment options</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <p> Izkoristite dostavo v več kot 450 GLS paketomatov za samo 1.99$ </p>
                    <p> Ali pa vam naročilo dostavimo na dom že od 2.99$ </p>

                    <fieldset>
                        <div class="form-group">
                            <legend class="pt-3"><b>Select a shipping option</b></legend>
                            <label>
                                @Html.RadioButtonFor(v => v.ShippingOption, ShippingOption.PriorityHomeShipping)
                                Priority Home Shipping
                            </label>
                            <br />

                            <label>
                                @Html.RadioButtonFor(v => v.ShippingOption, ShippingOption.StandardHomeShipping)
                                Standard Home Shipping
                            </label>
                            <br />

                            <label>
                                @Html.RadioButtonFor(v => v.ShippingOption, ShippingOption.Paketomat)
                                Paketomat
                            </label>
                        </div>

                        <div>
                            <div class="form-group">
                                <label asp-for="FullName" class="control-label"></label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="EmailAddress" class="control-label"></label>
                                <input asp-for="EmailAddress" class="form-control" />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="StreetName" class="control-label"></label>
                                <input asp-for="StreetName" class="form-control" />
                                <span asp-validation-for="StreetName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="HouseNumber" class="control-label"></label>
                                <input asp-for="HouseNumber" class="form-control" />
                                <span asp-validation-for="HouseNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ZipCode" class="control-label"></label>
                                <input asp-for="ZipCode" class="form-control" />
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CountryId"></label>
                                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.Countries"></select>
                                <span asp-validation-for="CountryId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <legend class="pt-3"><b>Select a payment option</b></legend>

                            <label>
                                @Html.RadioButtonFor(v => v.PaymentOption, PaymentOption.CreditCard)
                                Visa/Mastercard online payment
                            </label>
                            <br />

                            <label>
                                @Html.RadioButtonFor(v => v.PaymentOption, PaymentOption.BankTransfer)
                                Bank transfer
                            </label>
                            <br />

                            <label>
                                @Html.RadioButtonFor(v => v.PaymentOption, PaymentOption.Cash)
                                Payment after arrival

                            </label>
                        </div>
                    </fieldset>

                    <div class="pt-3">
                        @if (await Model.ShoppingCart.GetTotalAmountOfItemsAsync() == 1)
                        {
                            <b>1 Item in cart</b>
                        }
                        else
                        {
                            <b>await @Model.ShoppingCart.GetTotalAmountOfItemsAsync() Items in cart</b>
                        }
                        <br />
                        <a class="text-primary" id="btn-show-summary" href="#" onclick="toggleSummary()"><u>Show summary</u></a>
                        <div class="float-right">
                            <b class="float-right" style="font-size: 1.2em">Total: @Model.ShoppingCartTotal.ToString("c")</b> <br />
                            <div class="d-inline-block">Ex. VAT (22%): @Model.ShoppingCartTotalWithoutVat.ToString("c")</div>
                        </div>
                    </div>

                    <table class="table" id="items-table" style="display: none">
                        <thead>
                            <tr>
                                <th>Item summary</th>
                                <th class="text-center">Amount</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                            {
                                <tr>
                                    <td class="align-middle">
                                        <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Item.Id">
                                            @item.Item.Name
                                        </a>
                                    </td>

                                    <td class="align-middle text-center">@(item.Amount)</td>

                                    <td class="align-middle">@item.Item.Price.ToString("c")</td>

                                    <td class="align-middle text-right">@((item.Amount * item.Item.Price).ToString("c"))</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>

                                <td><b>Total:</b></td>

                                <td class="text-right">
                                    <b>
                                        @Model.ShoppingCartTotal.ToString("c")
                                    </b>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="text-right pt-5">
                        <input class="btn btn-success float-right" type="submit" value="Confirm order" />
                    </div>
                    <p class="pt-5">S tem je povezana obveznost plačila podjetju in strinjanje s splošnimi pogoji poslovanja.</p>
                    <p>
                        Z oddajo spletnega naročila se strinjam z izbiro načina plačila in s pogoji poslovanja.
                        Prejeta plačila potrošniku vrnemo na TRR, razen, če potrošnik izrecno zahteva vračilo na drugo plačilno sredstvo.
                        Potrošnik zaradi vračil ne nosi stroškov.
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    function toggleSummary() {
        var table = document.getElementById('items-table');
        var btn = document.getElementById('btn-show-summary');
        if (btn.innerText === 'Show summary') {
            btn.innerText = 'Hide summary';
            table.style.display = 'table';
        }
        else {
            btn.innerText = 'Show summary';
            table.style.display = 'none';
        }
    }
</script>
}
