@model X.PagedList.IPagedList<ApplicationUser>

@{
    ViewData["Title"] = "Users";
    ViewBag.PagingActionName = "Users";
    ViewBag.PagingControllerName = "Account";
}

<div class="row">
    <p>
        <h4>@ViewData["Title"]</h4>
    </p>

    <div class="col-md-6 offset-md-2">
        <h3 class="pb-1"> @ViewData["Description"] </h3>

        <form class="form-inline my-2 my-lg-0" asp-controller="Account" asp-action="Users" style="padding-right: 10px;">
            <input name="searchString" type="text" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search for a user...">
            <button class="btn btn-outline-info my-2 my-sm-0 ml-2" type="submit"><i class="bi bi-search"></i></button>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().FullName)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().EmailAddress)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Email)</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td class="align-middle">
                        <a asp-controller="Account" asp-action="GetUserInfo" asp-all-route-data="@(new Dictionary<string, string> {{"userId", user.Id}})">
                            @Html.DisplayFor(modelItem => user.FullName)
                        </a>
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => user.EmailAddress)
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => user.GetFullAddress)
                    </td>
                </tr>
            }
            </tbody>
        </table>

        @await Html.PartialAsync("Components/PagingComponent", Model)
    </div>
</div>
